nav {
	margin: 27px auto 0;

	position: relative;
	width: 1120px;
	height: 50px;
	background-color: #34495e;
	border-radius: 8px;
	font-size: 0;
}
nav a {
	line-height: 50px;
	height: 100%;
	font-size: 15px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: white;
	cursor: pointer;
}
nav .animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all 0.3s ease 0s;
	border-radius: 8px;
}
a:nth-child(1) {
	width: 112px;
}
a:nth-child(2) {
	width: 112px;
}
a:nth-child(3) {
	width: 112px;
}
a:nth-child(4) {
	width: 112px;
}
a:nth-child(5) {
	width: 112px;
}
a:nth-child(6) {
	width: 112px;
}
a:nth-child(7) {
	width: 112px;
}
a:nth-child(8) {
	width: 112px;

}
a:nth-child(9) {
	width: 112px;

}
a:nth-child(10) {
	width: 112px;

}
nav .start-home, a:nth-child(1):hover~.animation {
	width: 112px;
	left: 0;
	background-color: #1abc9c;
}
nav .start-GATOS, a:nth-child(2):hover~.animation {
	width: 112px;
	left: 112px;
	background-color: #1abc9c;
}
nav .start-BATMAN, a:nth-child(3):hover~.animation {
	width: 112px;
	left: 224px;
	background-color: #1abc9c;
}
nav .start-BILLS, a:nth-child(4):hover~.animation {
	width: 112px;
	left: 336px;
	background-color: #1abc9c;
}
nav .start-TITO, a:nth-child(5):hover~.animation {
	width: 112px;
	left: 448px;
	background-color: #1abc9c;
}
nav .start-PERROS, a:nth-child(6):hover~.animation {
	width: 112px;
	left: 560px;
	background-color: #1abc9c;
}
nav .start-FIRULAIS, a:nth-child(7):hover~.animation {
	width: 112px;
	left: 672px;
	background-color: #1abc9c;
}
nav .start-PRINCESA, a:nth-child(8):hover~.animation {
	width: 112px;
	left: 784px;
	background-color: #1abc9c;
}
nav .start-HEINS, a:nth-child(9):hover~.animation {
	width: 112px;
	left: 896px;
	background-color: #1abc9c;
}
nav .start-CONTACTO, a:nth-child(10):hover~.animation {
	width: 112px;
	left: 1008px;
	background-color: #1abc9c;
}

body {
	font-size: 12px;
	font-family: sans-serif;
	background: #2c3e50;
}
h1 {
	text-align: center;
	margin: 40px 0 40px;
	text-align: center;
	font-size: 30px;
	color: #ecf0f1;
	text-shadow: 2px 2px 4px #000000;
	font-family: 'Cherry Swash', cursive;
}

p {
    position: CENTER;
    bottom: 20px;
    width: 100%;
    text-align: center;
    color: #ecf0f1;
    font-family: 'Cherry Swash',cursive;
    font-size: 16px;
}

span {
    color: #2BD6B4;
}
h3 {
    position: CENTER;
    bottom: 20px;
    width: 100%;
    text-align: center;
    color: #ecf0f1;
    font-family: 'Cherry Swash',cursive;
    font-size: 20px;
}
blockquote {
    position: left;
    bottom: 20px;
    width: 100%;
    text-align: left;
    color: #ecf0f1;
    font-family: 'Cherry Swash',cursive;
    font-size: 16px;
}
h2{
    position: right;
    bottom: 20px;
    width: 100%;
    text-align: right;
    color: #ecf0f1;
    font-family: 'Cherry Swash',cursive;
    font-size: 16px;
}
